<!-- <p>{{nombre}}</p>
<input type="text" [(ngModel)]="nombre">
<button (click)="guardar()">
  Click
</button>

<app-muestra-nombre [data]="nombre"></app-muestra-nombre>
 -->

 <h1>Segundos {{segundos}}</h1>
