<h1>Cliclo de vida de angular</h1>
<hr>
<!-- =! poner el valor inverso -->
<button (click)="mostrar = !mostrar">
  <!-- se utiliza el ternario para hacer una condicion y mostrar el valor que tenga la variable -->
  {{ mostrar ? 'Ocultar' : 'Mostrar'}}
</button>
<app-pagina1 *ngIf="mostrar"></app-pagina1>
